<div id="whatshismodal" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <p><span class="green-highlight">Ingázom</span> - De honnan?!</p>
      <p>Keressük álmaink otthonát, a helyet, a települést, a házat, a környéket.
          De vajon megnézzük-e, mennyi ideig tart beérni a munkahelyünkre a kiszemelt városkából?
          Az <span class="green-highlight">Ingázom.hu</span> ebben próbál segíteni azzal, hogy
          térképre viszi a szükséges adatokat.</p>
      <p>A beállításokban kiválaszthatjuk a kiindulási települést, ahova nap, mint nap bejárnánk,
         tehát a munkahelyünk városát. A csúszka segítségével limitálhatjuk az utazásra szánt időt (egy irányban).</p>
      <p>Amennyiben kérdése merülne fel, vagy javaslata van, küldjön egy e-mailt a Kapcsolat gomb segítségével.</p>
      <p>Kellemes böngészést, és ingázásra fel!</p>
  </div>
</div>
