<div class="topnav">
  <a class="boxed active" href="#home">Ingázom.hu</a>
  <a class="boxed" mat-button (click)=showWhatsThisModal()>Mi ez?</a>
  <a class="boxed menuitem" mat-button (click)="showSettings()" ><span>Beállítások &#9881;</span></a>
  <a class="boxed menuitem" href="mailto:ingazom.hu@gmail.com">Kapcsolat &#9993;</a>
  <a class="boxed right avatar" mat-button id="avatar_a" (click)="showModal('authModal')">
      <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" id="avatarImg" class="avatar" />
  </a>
</div>
