body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
}
.split {
    height: 90%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.topnav {
    z-index: 5;
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #666;
    text-align: center;
    padding: 1.3vw 1.4vw;
    text-decoration: none;
    font-size: 1.6vw;
}

.topnav a:hover {
   background-color: #ddd;
   color: black;
 }

 .topnav a.active {
    background-color: #4CAF50;
    color: white;
 }

.map {
    left: 0;
    width: 80%;
    background-color: #111;
}

.menu {
    right: 0;
    width: 20%;
    background-color: #333;
    position: absolute;
    text-align: center;
    overflow: hidden;
}

.slidecontainer {
    width: 70%;
    margin-top: 8.25vw;
    margin-bottom: 8.25vw;
}

.slider:hover {
    transform: scale(1.2);
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 1.2vw;
  border-radius: 0.4vw;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2vw; /* Set a specific slider handle width */
  height: 2vw;
  border-radius: 50%;
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 2vw; /* Set a specific slider handle width */
  height: 2vw; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.dropbtn {
    padding: 1.3vw;
    font-size: 1.3vw;
    border: none;
    border-radius: 0.8vw;
    margin: 0.8vw;
    display: none;
}

.white-green {
    background-color: #4CAF50;
    color: white;
}

.dropup {
    position: relative;
    display: none;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 13vw;
  box-shadow: 0vw 0.7vw 1.4vw 0vw rgba(0,0,0,0.2);
  z-index: 1;
  bottom: 5vw;
}

.dropup-content a {
  color: black;
  padding: 1vw 1.3vw;
  text-decoration: none;
  display: block;
}

.dropup:hover .dropup-content {display: block;}

.checkbox-option {
    margin-top: 0.8vw;
}

.checkbox-option span {
    font-size: 1vw;
    padding: 0.4vw;
    border: none;
    border-radius: 0.4vw;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
}

.options {
    display: none;
}