
.slidecontainer {
    width: 40vw;
    transform: translate(-40%, 600%);
}

.slider {
    transform: rotate(-90deg);
}

.slider:hover {
    transform: rotate(-90deg) scale(1.2);
}

.menu {
    right: 40px;
    width: 6%;
    padding-top: 0;
    height: 70%;
}

@keyframes pulse {
    0%  {
         transform: rotate(-90deg) scale(1.2);
    }
    50% {
         transform: rotate(-90deg) scale(1);
    }
    100% {
         transform: rotate(-90deg) scale(1.2);
    }
}