
.slidecontainer {
    width: 40vw;
    transform: translate(-40%, 1000%);
}

.slider {
    transform: rotate(-90deg);
}

.slider:hover {
    transform: rotate(-90deg) scale(1.2);
}

.menu {
    right: 0;
    width: 10%;
}

@keyframes pulse {
    0%  {
         transform: rotate(-90deg) scale(1.2);
    }
    50% {
         transform: rotate(-90deg) scale(1);
    }
    100% {
         transform: rotate(-90deg) scale(1.2);
    }
}