:root {
    --thumb-size: 24px;
    --slider-height: 8px;
}

.menuitem {
    padding: 8px 14px;
}

.topnav a:not(.menuitem) {
    padding: 10px 14px;
}

.topnav a {
    font-size: 11px;
}

.map {
    height: calc(100% - 33px);
}