.split {
    width: 100%;
    padding-top: 0;
}

.topnav {
    flex: 1;
}

.menu {
    bottom: 0;
    height: 7%;
}


.slidecontainer {
  width: 100%;
  margin-top: 4vw;
  display: inline-block;
}

.options {
    float: none;
}

.modal-content {
    font-size: 3vw;
}

@keyframes pulse {
    0% {
         transform: scale(1.2);
    }
    50% {
         transform: scale(1);
    }
    100% {
         transform: scale(1.2);
    }
}