

  <div id="map" class="split map">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom] = "zoom" [controlSize] = "controlSize">
      <agm-marker *ngFor="let marker of markersArray" [visible]="marker.visibility" [latitude]="marker.position.lat" [longitude]="marker.position.lng"
                  [iconUrl]="marker.icon" [label]="marker.minutes.toString()" [animation]="'DROP'" (markerClick)="openUrlInNewTab(marker.url)"
                  (mouseOver)="showInfoWindow(infoWindow)" (mouseOut)="hideInfoWindow(infoWindow)">
        <agm-info-window #infoWindow [isOpen]="false" >{{ marker.departure }} - {{ marker.destination }} {{ marker.minutes }} perc</agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
