
<div class="holder">
  <div id="map" class="split map">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom] = "zoom" [controlSize] = "controlSize">
      <agm-marker *ngFor="let marker of markersArray" [visible]="true" [latitude]="marker.position.lat" [longitude]="marker.position.lng" [iconUrl]="marker.icon"
                  [label]="marker.label"></agm-marker>
    </agm-map>
  </div>
  <div id="menu" class="split menu">
      <div class="slidecontainer">
          <input type="range" min="1" max="60" value="55" class="slider" id="minutesRange" oninput="hideMarkers()" >
      </div>
      <div id="options" class="options" onclick="showOptions()">
          <span>&#9881;</span>
      </div>
  </div>
</div>
