Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    epel-release: []

commands:
  10_install_certbot:
    command: |
      wget https://dl.eff.org/certbot-auto
      mv certbot-auto /usr/local/bin/certbot-auto
      chown root /usr/local/bin/certbot-auto
      chmod 0755 /usr/local/bin/certbot-auto
  20_create_webroot_path:
    command: |
      sudo rm -rf /var/www/letsencrypt/
      sudo mkdir -p /var/www/letsencrypt/
  13_start_nginx:
    command: |
      sudo service nginx start
  40_configure_cert:
    command: |
      EMAIL=$(/opt/elasticbeanstalk/bin/get-config environment -k EMAIL)
      CERTDOMAIN=$(/opt/elasticbeanstalk/bin/get-config environment -k CERTDOMAIN)
      certbot_command="/usr/local/bin/certbot-auto certonly --nginx --debug --non-interactive --email ${EMAIL} --agree-tos --expand --keep-until-expiring --domains"
      for domain in $(echo ${CERTDOMAIN} | sed "s/,/ /g")
      do
        certbot_command="$certbot_command $domain"
      done
      eval $certbot_command
  50_link_cert:
    command: |
      CERTDOMAIN=$(/opt/elasticbeanstalk/bin/get-config environment -k CERTDOMAIN)
      domain="$( cut -d ',' -f 1 <<< "${CERTDOMAIN}" )";
      if [ -d /etc/letsencrypt/live ]; then
        domain_folder_name="$(ls /etc/letsencrypt/live | sort -n | grep $domain | head -1)";
        if [ -d /etc/letsencrypt/live/${domain_folder_name} ]; then
          ln -sfn /etc/letsencrypt/live/${domain_folder_name} /etc/letsencrypt/live/ebcert
        fi
      fi