.split {
    width: 100%;
    padding-top: 0;
}

.topnav {
    flex: 1;
}

.menu {
    bottom: 1%;
    height: 6%;
    width: 60%;
    left: 20%;
}


.slidecontainer {
  width: 100%;
  margin-top: 2vw;
  display: inline-block;
}

.slider {
    width: 80%;
}

.slider:hover {
  transform: scale(1.2);
}

.options {
    float: none;
}

.modal-content {
    font-size: 3vw;
}

@keyframes pulse {
    0% {
         transform: scale(1.2);
    }
    50% {
         transform: scale(1);
    }
    100% {
         transform: scale(1.2);
    }
}
